button {
  color: white;
  border: 1px solid white;
}

button:hover {
  color: white;
  border: 1px solid white;
  filter: drop-shadow(0 0 2px rgb(224, 236, 1));
}

input,
textarea {
  border: 1px solid white;
  border-top: none;
}

input:focus,
textarea:focus {
  filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}

#background-name {
  background-color: #e9b827;
  text-shadow: 0 0 4px #000000;
  color: #e9b827;
}

/* ---------  MEDIA QUERY  ------------ */

@media (min-width: 2560px) and (max-width: 3000px) {
  #background-name {
    font-size: 80px;
    margin-right: 180px;
    padding: 10px 15px;
    text-shadow: 0.5px 0.5px 28px #000000;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  #form-contact-name {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  .title {
    font-size: 70px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  .description {
    font-size: 40px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  .btn {
    padding: 0.2em 0.5em;
    font-size: 35px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  input {
    font-size: 24px;
    height: 50px;
    border: 3px solid #e7eb00;
    border-top: none;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  textarea {
    font-size: 24px;
    height: 200px;
    border: 3px solid #e7eb00;
    border-top: none;
  }
}

@media (max-width: 768px) {
  #background-name {
    margin-right: 3.5em;
    font-size: 0.7em;
    text-shadow: 0 0 2.5px #000000;
    background-color: #1a1a1a;
    border: 1px solid #e7eb00;
  }
}

@media (max-width: 768px) {
  #form-query {
    margin-bottom: 0 !important;
    padding-bottom: 2em !important;
  }
}

@media (min-width: 836px) {
  #social-media-form {
    visibility: hidden;
  }
}

@media (max-width: 836px) {
  #icon-social-media-form1 {
    font-size: 22px;
  }
}

@media (max-width: 836px) {
  #icon-social-media-form2 {
    font-size: 28px;
  }
}

@media (max-width: 836px) {
  #margin-icon-query {
    margin-top: 0.13em;
  }
}
