<div
  class="pe-4"
  id="form-contact-name"
  data-aos="zoom-in"
  data-aos-duration="1000"
  data-aos-easing="ease-in-sine"
  data-aos-mirror="true"
  data-aos-once="false"
>
  <p class="display-5 fs-1 text-end"><span class="rounded p-2" id="background-name">Francisco Escobar</span></p>
</div>

<div class="pb-5 mb-4">


  <div class="d-flex justify-content-center">
    <div class="rounded px-4">
      <form [formGroup]="form">
        <h4 class="title">CONTACTO</h4>
        <p class="description fst-italic">No dudes en contactarme si necesitas ayuda u otra pregunta</p>
        <div>

          <input type="text" class="form-control rounded shadow-sm text-white bg-dark mb-3 form-input" formControlName="name" id="name" placeholder="Nombre" required>
        </div>
        <div>
          <input type="email" class="form-control rounded shadow-sm text-white bg-dark mb-3 form-input" formControlName="email" placeholder="Email@example.com" required>
        </div>
        <div>
          <textarea id="message" class="form-control rounded shadow-sm text-white bg-dark mb-3 form-text-area" rows="5" cols="30" formControlName="message" placeholder="Mensaje" required></textarea>
        </div>
        <div>
          <button type="submit" class="btn" (click)="contactData()">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
