button{
  color: #e7eb00;
  border: 1px solid #e7eb00;
}

button:hover {
  color: #e7eb00;
  border: 1px solid #e7eb00;
  filter: drop-shadow(0 0 2px rgb(224, 236, 1));
}

input,
textarea {
  border: 1px solid #e7eb00;
  border-top: none;
}

input:focus,
textarea:focus {
  filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}

#background-name {
  background-color: #e7eb00;
  text-shadow: 0 0  4px #000000;
}



