button:hover {
  color: #ebc553;
  filter: drop-shadow(0 0 2px rgb(224, 236, 1));
}

p,
.bi-globe2 {
  color: #e9b827;
}

/*------MEDIA QUERY------*/

@media (min-width: 2560px) and (max-width: 3000px) {
  p {
    font-size: 30px;
    margin-top: -70px;
  }
}

@media (min-width: 1246px) and (max-width: 1440px) {
  p {
    font-size: 14px;
    width: 150px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  .btn-language {
    margin-right: -5px !important;
  }
}


@media (min-width: 425px) and (max-width: 768px) {

  .btn-language {
    margin-right: 0 !important;
  }
}
