<div class="row py-3">
  <div class="col">
      <div id="carouselIntitutional" class="carousel slide" data-bs-ride="false">

          <div class="carousel-inner">
              <div class="carousel-item active">
                  <app-institutional></app-institutional>
              </div>
              <div class="carousel-item">
                <app-institutional2></app-institutional2>
              </div>
              <div class="carousel-item">
                <app-institutional3></app-institutional3>
              </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselIntitutional" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselIntitutional" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>
</div>
