<div class="container py-5 overflow-hidden">
  <h2 class="py-5 text-center" #idioms>{{ 'LOCUCIONES' | translate}}</h2>

  <div class="row g-0">

    <div lc-helper="background" class="col-lg-6 order-lg-2">
      <app-carrousel-commercial></app-carrousel-commercial>
    </div>
    <div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
      <div class="lc-block">
        <div editable="rich">
          <h3>{{ 'Comercial' | translate }} | {{ 'Marcas' | translate }}</h3>
          <p class="lead fst-italic fs-6">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int
            ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis
            mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-0">
    <div lc-helper="background" class="col-lg-6"
      style="min-height: 45vh; background-size: cover;background-position: center;">
      <app-carrousel-dubbing></app-carrousel-dubbing>

    </div>
    <div class="col-lg-6 my-auto px-5 py-5">
      <div class="lc-block">
        <div editable="rich">
          <h3>{{ 'Doblaje' | translate }} | {{ 'Neutro' | translate }} - Rioplatense </h3>
          <p class="lead fst-italic fs-6">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int
            ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis
            mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row g-0">
    <div lc-helper="background" class="col-lg-6 order-lg-2 "
      style="min-height: 45vh; background-size: cover;background-position: center;">
      <app-carrousel-intitutional></app-carrousel-intitutional>

    </div>
    <div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
      <div class="lc-block">
        <div editable="rich">
          <h3>{{ 'Institucionales' | translate }}</h3>
          <p class="lead fst-italic fs-6">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int
            ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis
            mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-0">
    <div lc-helper="background" class="col-lg-6"
      style="min-height: 45vh; background-size: cover;background-position: center;">
      <app-carrousel-voice-over></app-carrousel-voice-over>

    </div>
    <div class="col-lg-6 my-auto px-5 py-5">
      <div class="lc-block">
        <div editable="rich">
          <h3>Voice Over</h3>
          <p class="lead fst-italic fs-6">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int
            ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis
            mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row g-0 pb-5">
    <div lc-helper="background" class="col-lg-6 order-lg-2 "
      style="min-height: 45vh; background-size: cover;background-position: center;">
      <app-carrousel-acting></app-carrousel-acting>

    </div>
    <div class="col-lg-6 order-lg-1 my-auto px-5">
      <div class="lc-block">
        <div editable="rich">
          <h3>Acting</h3>
          <p class="lead fst-italic fs-6">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int
            ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis
            mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
        </div>
      </div>
    </div>
  </div>

</div>