<div class="container py-5 overflow-hidden">
  <h2 class="py-5 text-center" #idioms>LOCUCIONES</h2>
	<div class="row g-0">

    <div lc-helper="background" class="col-lg-6 order-lg-2 " style="min-height: 45vh; background-size: cover;background-position: center;">
      <div class="row py-3">
          <div class="col">
              <div id="carouselActing" class="carousel slide" data-bs-ride="false">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                         <app-acting></app-acting>
                      </div>
                      <div class="carousel-item">
                        <app-acting2></app-acting2>
                      </div>
                      <div class="carousel-item">
                        <app-acting3></app-acting3>
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselActing" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselActing" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
    </div>
		<div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
			<div class="lc-block">
				<div editable="rich">
					<h3>Comercial | Marcas</h3>
					<p class="lead fst-italic fs-6">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row g-0">
		<div lc-helper="background" class="col-lg-6" style="min-height: 45vh; background-size: cover;background-position: center;">
      <div class="row py-3">
          <div class="col">
              <div id="carouselCommercial" class="carousel slide" data-bs-ride="false">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                        <app-commercial></app-commercial>
                      </div>
                      <div class="carousel-item">
                        <app-commercial2></app-commercial2>
                      </div>
                      <div class="carousel-item">
                        <app-commercial3></app-commercial3>
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCommercial" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselCommercial" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
    </div>
		<div class="col-lg-6 my-auto px-5 py-5">
			<div class="lc-block">
				<div editable="rich">
					<h3>Doblaje | Neutro - Rioplatense</h3>
					<p class="lead fst-italic fs-6">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
				</div>
			</div>

		</div>
	</div>

  <div class="row g-0">
    <div lc-helper="background" class="col-lg-6 order-lg-2 " style="min-height: 45vh; background-size: cover;background-position: center;">
      <div class="row py-3">
          <div class="col">
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                         <app-dubbing></app-dubbing>
                      </div>
                      <div class="carousel-item">
                        <app-dubbing2></app-dubbing2>
                      </div>
                      <div class="carousel-item">
                        <app-dubbing3></app-dubbing3>
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
    </div>
		<div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
			<div class="lc-block">
				<div editable="rich">
					<h3>Institucionales</h3>
					<p class="lead fst-italic fs-6">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row g-0">
		<div lc-helper="background" class="col-lg-6" style="min-height: 45vh; background-size: cover;background-position: center;">
      <div class="row py-3">
          <div class="col">
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                        <app-commercial></app-commercial>
                      </div>
                      <div class="carousel-item">
                        <app-commercial></app-commercial>
                      </div>
                      <div class="carousel-item">
                        <app-commercial></app-commercial>
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
    </div>
		<div class="col-lg-6 my-auto px-5 py-5">
			<div class="lc-block">
				<div editable="rich">
					<h3>Voice Over</h3>
					<p class="lead fst-italic fs-6">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
				</div>
			</div>

		</div>
	</div>

  <div class="row g-0">
		<div lc-helper="background" class="col-lg-6 order-lg-2 " style="min-height: 45vh; background-size: cover;background-position: center;">
      <div class="row py-3">
          <div class="col">
              <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

                  <div class="carousel-inner">
                      <div class="carousel-item active">
                         <app-acting></app-acting>
                      </div>
                      <div class="carousel-item">
                        <app-acting></app-acting>
                      </div>
                      <div class="carousel-item">
                        <app-acting></app-acting>
                      </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                  </button>
              </div>
          </div>
      </div>
    </div>
		<div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
			<div class="lc-block">
				<div editable="rich">
					<h3>Acting</h3>
					<p class="lead fst-italic fs-6">Lorem ipsum dolor sit amet Neque porro quisquam est qui dolorem Lorem int ipsum dolor sit amet when an unknown printer took a galley of type. Vivamus id tempor felis. Cras sagittis mi sit amet malesuada mollis. Mauris porroinit consectetur cursus tortor vel interdum.</p>
				</div>
			</div>
		</div>
	</div>

</div>


