.container-hero {
  background: url('/assets/background-hero.webp') center no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  border-radius: 20px;
  box-shadow: 0 0 8px 4px rgba(29, 29, 29, 0.5);
}

.container-nav {
  display: flex;
  margin: 0;
  align-content: flex-end;
  align-items: flex-end;
}

#font-header {
  font-weight: 700;
}

button {
  color: #e9b827;
}

button:hover {
  color: #ebc553;
  filter: drop-shadow(0 0 2px rgb(224, 236, 1));
}

svg,
i {
  font-size: 16px;
  color: #e9b827;
  // filter: drop-shadow(0 0 0.6px rgb(224, 236, 1));
}

svg:hover,
i:hover {
  color: #ebc553;
  filter: drop-shadow(0 0 2px rgb(224, 236, 1));
}

#btn-play {
  cursor: pointer;
  color: red;
  filter: drop-shadow(0 0 5px rgb(255, 0, 0));
}

#btn-play:hover {
  color: rgb(146, 0, 0);
}

img {
  filter: grayscale(100%);
}

// .dimmed {
//   filter: brightness(0.5); /* Cambia el valor para ajustar el nivel de brillo disminuido */
//   transition: filter 0.5s ease-in-out;
// }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.6;
  }
}

.dimmed::before {
  content: "";
  position: absolute;
  height: 9999vh;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.75);
  animation: fade-in 0.6s ease-in-out;
}

.dimming::before {
  /* Estilos adicionales al aplicar la clase dimming */
  opacity: 0;
  transition-delay: 0.5s; /* Retraso en la transición */
}

.border-video {
  // border-bottom: 1px solid #e9b827;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  // filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
}

.video-style {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.container {
  margin: -2.5em 0 2.3em 0;
}

// #language-selector {
//   margin-right: -10px;
// }

#title-hero {
  margin-left: 35px;
  line-height: 1;
}

#subtitle-hero {
  color: #ffffff;
  margin-left: 35px;
}

.contact {
  background: url(/assets/background-form-contact.webp) no-repeat center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 8px 4px rgba(29, 29, 29, 0.5);
}

.projects {
  background: url(/assets/background-projects.webp) no-repeat center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 8px 4px rgba(29, 29, 29, 0.5);
}

/* ----------  MEDIA QUERY  ------------- */

@media (min-width: 2560px) and (max-width: 3000px) {
  #font-header,
  .bi-mic,
  .bi-envelope {
    font-size: 35px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  .video-hero {
    margin-right: 20px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  #title-hero {
    font-size: 98px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  #subtitle-hero {
    font-size: 36px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  video {
    width: 1298px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .contact {
    background-position-y: -50px;
  }
}

@media(min-width: 769px) and (max-width: 1308px) {

  .contact {
    padding-bottom: 0 !important;
  }

  #title-hero {
    font-size: 40px;
  }

  #subtitle-hero {
    font-size: 16px;
    width: 220px;
  }
}

@media (min-width: 475px) and (max-width: 768px) {

  .container-hero {
    padding-bottom: 10px;

  }

  .container-content-hero {
    padding-top: 10px;
  }

  #font-header {
    font-size: 15px;
    margin-top: -15px;
  }

  #title-hero {
    font-size: 18px;
    margin-left: 14px;
  }

  #subtitle-hero {
    font-size: 14px;
    margin-left: 14px;
  }

  #background {
    height: 45px;
  }

  .container-contact-and-video {
    margin-right: 5px !important;
    margin-left: 19px !important;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  #div-query {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 836px) {
  #social-media-query {
    display: none;
  }
}

@media (max-width: 768px) {
  #social-media-query {
    position: absolute;
    margin-top: -3em;
  }

  .contact {
    padding-top: 2em !important;
    padding-bottom: 0 !important;
    background-position-x: 0px;
  }
}

@media (max-width: 1440px) {
  #name-header {
    margin-left: -807px !important;
  }
}

@media (max-width: 1024px) {
  #name-header {
    margin-left: -550px !important;
  }
}

@media (max-width: 768px) {
  #name-header {
    margin-left: 0 !important;
  }
}

@media (min-width: 1246px) and (max-width: 1440px) {
  // #language-selector {
  //   margin-left: -3.5em;
  // }

  .container-social-media-header {
    visibility: hidden;
    width: 145px;
    margin-left: 90px;
  }
}

@media (min-width: 992px) and (max-width: 1245px) {
  // #language-selector {
  //   margin-left: -2.5em;
  // }
}

@media (min-width: 768px) and (max-width: 991px) {
  // #language-selector {
  //   margin-left: -3.5em;
  // }
}

@media (max-width: 767px) {

  .container-header-component {
    display: flex;
    justify-content: center;
    padding: 0 100px;
  }

  .container-content-and-video {
    margin-left: 0 !important;
  }

  .container-text-header {
    margin-right: 0 !important;
    background-color: unset !important;
    border: unset !important;
  }

  header {
    margin-right: 55px !important;
  }

  @media (min-width: 375px) and (max-width: 425px) {

    .sub2-header-links {
      display: flex;
      margin: 0 !important;
      flex-direction: column;
      /* flex-wrap: nowrap; */
      align-content: flex-end;
      align-items: flex-end;
    }

    .btn-links {
      height: 24px;
      margin-right: -83px;
      margin-top: -55px;
    }

    .container-header-component {
      padding: 0 40px;
    }

    .container-language-selector {
      margin-right: -82px;
      margin-top: -45px;
    }

    #title-hero {
      font-size: 30px;
      margin-left: 5px;
    }

    #subtitle-hero {
      font-size: 13px;
      position: absolute;
      top: 55px;
      /* left: -79px; */
      margin-left: -28px;
      width: 174px;
    }

    #btn-play {
      font-size: 3em !important
    }

    .container-hero {
      padding-bottom: 0 !important
    }
  }

  @media (min-width: 320px) and (max-width: 375px) {

    .container-language-selector {
      margin-right: 1px;
    }

    sub2-header-link {
      padding-right: 13px;
    }
  }

  #font-header {
    margin-right: 4px
  }
}
