<div class="container-hero">

<div class="container-fluid mt-5 pt-5 container-content-hero" >

  <header class="d-flex flex-column align-items-end">

    <!-- <div class="d-flex flex-column justify-content-start">
      <div class="row container-social-media-header">
        <div class="col-md-3">
          <a href="#">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
        <div class="col-md-3 ">
          <a href="#">
            <i class="bi bi-facebook"></i>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div> -->
    <!-- <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
      id="name-header">
      <p class="mt-5" id="font-header">Francisco Escobar</p>
    </a> -->

<div class="flex flex-column container-nav" style="margin-right: 18px;">
    <div class="container-language-selector">
      <app-language-selector id="language-selector"></app-language-selector>
    </div>

    <div class="text-end" style="margin-left: 62px;">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 sub2-header-links">
        <li>
          <button type="button" class="btn btn-links" (click)='scroll(idioms)'>
            <p id="font-header"> <i class="bi bi-mic mb-2"></i>
              {{ 'LOCUCIONES' | translate }}</p>
          </button>
        </li>
        <li><button type="button" class="btn px-2 btn-links" (click)='scroll(contact)' (click)="showVideo = true">
            <p id="font-header"> <i class="bi bi-envelope mb-1"></i>
              {{ 'CONTACTO' | translate }}</p>
          </button>
        </li>
      </ul>
      <!-- <button type="button" class="btn">Sign-up</button> -->
    </div>

    <!-- <div>
      <app-contact-nav></app-contact-nav>
    </div> -->
  </div>

  </header>




</div>

  <div class="row  align-items-center flex-lg-row-reverse" id="div-query">
    <div class="col-md-6 col-xl-7 mb-4 mb-lg-0 " id="div-query">

    </div>
  </div>


  <div class="row mb-4 align-items-center flex-lg-row-reverse container-header-component">


    <div class="col-md-7 col-xl-7 mb-4 mb-lg-0 container-contact-and-video" style="margin-right: 30px;">

        <app-contact-nav></app-contact-nav>

      <!-- requires glightbox, please flag the option in the picostrap customizer panel-->
      <div class="lc-block position-relative rounded-bottom video-hero border-video"
        [style.display]="showVideo ? 'block' : 'none'">

        <div class="carousel-item active ratio ratio-16x9">
          <video #videoElement controls [src]="video.src" (load)="video.play()" class="video-style rounded-bottom" allowfullscreen>
            <source type="video/mp4">
          </video>
        </div>
      </div>


      <div class="lc-block position-relative rounded-bottom video-hero border-video"
        [style.display]="showVideo ? 'none' : 'block'">
        <img class="img-fluid rounded-bottom shadow"
          src="https://images.unsplash.com/photo-1621947081720-86970823b77a?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3840&amp;q=80">

        <i class="bi bi-play-circle-fill position-absolute top-50 start-50 translate-middle glightbox d-flex justify-content-center align-items-center"
          id="btn-play" style="font-size: 5em;" (click)="showVideo = true" (click)="play()"></i>
      </div>
    </div><!-- /col -->


    <div class="col-md-4 col-xl-4 container-text-header" style="margin-right: 25px; background-color: rgba(0, 0, 0, 0.7); border-radius: 10px; border: 1px solid rgb(255, 255, 255)">
      <div class="lc-block mb-3 pt-4">
        <div editable="rich">
          <h1 class="fw-bolder display-2 text-white" id="title-hero">Francisco Escobar</h1>
        </div>
      </div><!-- /lc-block -->
      <!-- /lc-block -->


      <div class="lc-block mb-4">
        <div editable="rich">

          <p class="lead fst-italic rounded" id="subtitle-hero">{{ '¿Estás buscando la voz para tus próximos proyectos?' | translate }}
          </p>

        </div>
      </div>
      <!-- <div class="lc-block">
				<button class="btn btn-lg" href="#" role="button">Ver más</button>
			</div>/lc-block -->
    </div><!-- /col -->
  </div>
</div>

  <div #idioms class="projects">
    <app-projects></app-projects>
  </div>
  <div #contact class="contact py-5">
    <app-form-contact ></app-form-contact>
  </div>

  <app-footer></app-footer>
