<div class="container-fluid mt-5 py-5">


  <div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">

      <div class="row" id="social-media-query">
        <div class="col-md-3">
          <a href="#">
            <i class="bi bi-linkedin"></i>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
        <div class="col-md-3 ">
          <a href="#">
            <i class="bi bi-facebook"></i>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#">
            <i class="bi bi-youtube"></i>
          </a>
        </div>

      </div>
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
        id="name-header">
        <p class="mt-5" id="font-header">Francisco Escobar</p>
      </a>



      <app-language-selector id="language-selector"></app-language-selector>

      <div class="text-end pt-5">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li>
            <button type="button" class="btn" (click)='scroll(idioms)'>
              <p id="font-header"> <i class="bi bi-mic mb-2"></i>
                {{ 'LOCUCIONES' | translate }}</p>
            </button>
          </li>
          <li><button type="button" class="btn px-2" (click)='scroll(contact)' (click)="showVideo = true">
              <p id="font-header"> <i class="bi bi-envelope mb-1"></i>
                {{ 'CONTACTO' | translate }}</p>
            </button>
          </li>
        </ul>
        <!-- <button type="button" class="btn">Sign-up</button> -->
      </div>

    </header>

  </div>

  <div class="row mb-4 align-items-center flex-lg-row-reverse" id="div-query">
    <div class="col-md-6 col-xl-7 mb-4 mb-lg-0 " id="div-query">

    </div>
  </div>


  <div class="row mb-4 align-items-center flex-lg-row-reverse">
    <div class="col-md-6 col-xl-7 mb-4 mb-lg-0 ">
      <!-- requires glightbox, please flag the option in the picostrap customizer panel-->
      <div class="lc-block position-relative rounded video-hero border-video"
        [style.display]="showVideo ? 'block' : 'none'">
        <video #videoElement controls width="625" (load)="video.play()" [src]="video.src">
          <source type="video/mp4">
        </video>
      </div>


      <div class="lc-block position-relative rounded video-hero border-video"
        [style.display]="showVideo ? 'none' : 'block'">
        <img class="img-fluid rounded shadow"
          src="https://images.unsplash.com/photo-1621947081720-86970823b77a?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=3840&amp;q=80">

        <i class="bi bi-play-circle-fill position-absolute top-50 start-50 translate-middle glightbox d-flex justify-content-center align-items-center"
          id="btn-play" style="font-size: 5em;" (click)="showVideo = true" (click)="play()"></i>
      </div>
    </div><!-- /col -->


    <div class="col-md-6 col-xl-5">
      <div class="lc-block mb-3">
        <div editable="rich">
          <h1 class="fw-bolder display-2" id="title-hero">Francisco Escobar</h1>
        </div>
      </div><!-- /lc-block -->
      <!-- /lc-block -->


      <div class="lc-block mb-4">
        <div editable="rich">

          <p class="lead fst-italic rounded" id="subtitle-hero">{{ '¿Estás buscando la voz para tu próximo proyecto?
            ' | translate }}
          </p>

        </div>
      </div>
      <!-- <div class="lc-block">
				<button class="btn btn-lg" href="#" role="button">Ver más</button>
			</div>/lc-block -->
    </div><!-- /col -->
  </div>
</div>

<div #idioms>
  <app-projects></app-projects>
</div>
<div #contact>
  <app-form-contact></app-form-contact>
</div>

<app-footer></app-footer>