button {
  color: #e7eb00;
}

button:hover {
  color: #e7eb00;
  filter: drop-shadow(0 0 2px rgb(224, 236, 1));
}

svg,
i {
  font-size: 16px;
  color: #e7eb00;
  filter: drop-shadow(0 0 0.6px rgb(224, 236, 1));
}

svg:hover,
i:hover {
  color: #e7eb00;
  filter: drop-shadow(0 0 2px rgb(224, 236, 1));
}

#btn-play {
  color: red;
  filter: drop-shadow(0 0 5px rgb(255, 0, 0));
}

#btn-play:hover {
  color: rgb(146, 0, 0);
}

img {
  filter: grayscale(100%);
}

.border-video {
  border-bottom: 4px solid #e7eb00;
  border-left: 1px solid #e7eb00;
  filter: drop-shadow(-2px 2px 2px rgb(224, 236, 1));
}

.container {
  margin: -2.5em 0 2.3em 0;
}

#language-selector {
  position: absolute;
  left: 85%;
  margin-top: -2em;
}

/* ----------  MEDIA QUERY  ------------- */

@media (min-width: 2560px) and (max-width: 3000px) {
  #font-header,
  .bi-mic,
  .bi-envelope {
    font-size: 35px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  .video-hero {
    margin-right: 20px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  #title-hero {
    font-size: 98px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  #subtitle-hero {
    font-size: 36px;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  video {
    width: 1298px;
  }
}

@media (max-width: 768px) {
  #div-query {
    margin-bottom: 0px !important;
  }
}

@media (max-width: 1440px) {
  #language-selector {
    margin-left: 4em;
  }
}

@media (max-width: 1024px) {
  #language-selector {
    margin-left: 0.5em;
  }
}

@media (max-width: 768px) {
  #language-selector {
    margin-left: -2.2em;
  }
}

@media (min-width: 836px) {
  #social-media-query {
    display: none;
  }
}

@media (max-width: 768px) {
  #social-media-query {
    position: absolute;
    margin-top: -3em;
  }
}

@media (max-width: 1440px) {
  #name-header {
    margin-left: -807px !important;
  }
}

@media (max-width: 1024px) {
  #name-header {
    margin-left: -550px !important;
  }
}

@media (max-width: 768px) {
  #name-header {
    margin-left: 0 !important;
  }
}
