<div>
  <form [formGroup]="formProject">
    <input type="text" formControlName="link" placeholder="link">
    <input type="text" formControlName="description" placeholder="descrition">

    <input type="text" formControlName="category_first" placeholder="categoria">
    <input type="text" formControlName="category_optional" placeholder="categoria opcional">

    <button *ngIf="!project" type="button" class="btn-success" (click)="clickAction('create')">CREAR</button>
    <button *ngIf="project" type="button" class="btn-success" (click)="clickAction('update')">ACTUALIZAR</button>
  </form>
</div>