#landing {
  margin: 0 auto;
  background-color: #1a1a1a;
  box-shadow: 0 0 8px 4px rgba(29, 29, 29, 0.5);
}

#button-up-position {
  position: fixed;
  top: 80%;
  right: 6.2em;
}

.loading-global {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.loading-global.hidden {
  opacity: 0;
}

/* --------  MEDIA QUERY  -------- */

@media (min-width: 2560px) and (max-width: 3000px) {
  #landing {
    width: 90%;
  }
}

@media (min-width: 1440px) and (max-width: 2559px) {
  #landing {
    width: 90%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  #landing {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #landing {
    width: 90%;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  #landing {
    width: 90%;
  }
}

@media (max-width: 768px) {
  #button-up-position {
    top: 80%;
    right: 3em;
  }
}
