<span #up></span>
<!-- <app-contact-nav></app-contact-nav> -->

<i *ngIf="!isLogged" class="bi bi-lock-fill position-absolute top-0 end-0" style="font-size:2rem; cursor: pointer"
  (click)="login()"></i>
<i *ngIf="isLogged" class="bi bi-unlock-fill position-absolute top-0 end-0 text-danger"
  style="font-size:2rem; cursor: pointer" (click)="logout()"></i>
<div class=" rounded" id="landing">
  <app-loading *ngIf="showLoading" class="loading-global" [@fadeOut]="fadeState"></app-loading>
  <router-outlet></router-outlet>
  <app-button-up (click)='scrollTemplate(up)' id="button-up-position"></app-button-up>
</div>