#landing {
  background-color: #1a1a1a;
  box-shadow: 0 0 8px 4px rgba(29, 29, 29, 0.5);
}

#button-up-position {
  position: fixed;
  top: 80%;
  right: 6.2em;
}

/* --------  MEDIA QUERY  -------- */

@media (max-width: 768px) {
  #button-up-position {
    top: 80%;
    right: 3em;
  }
}
