<div class="flex d-flex flex-column rounded-end py-2" id="background" data-aos="fade-right" data-aos-offset="300"
  data-aos-duration="1200" data-aos-easing="ease-in-sine">

  <div class="ps-2">

    <div class="lc-block">

      <a href="#">
        <i class="bi bi-linkedin"></i>
      </a>

    </div>

    <div class="lc-block">

      <a href="#">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
    <div class="lc-block">

      <a href="#">
        <i class="bi bi-facebook"></i>
      </a>
      <div class="lc-block">

        <a href="#">
          <i class="bi bi-youtube"></i>
        </a>
      </div>

    </div>
  </div>