svg,
i {
  font-size: 2em;
  margin: 0.5em 0 0.5em 0;
  color: #e9b827;
  filter: drop-shadow(0 1px 4px #000000);
}

i:hover {
  color: white;
  transform: scale(2);
}

#background {
  // display: flex;
  // flex-direction: column;
  background-color: #e9b827;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  // width: 3em;
  // position: fixed;
  // top: 34.1%;
}

/*---------- MEDIA QUERY --------------*/

@media (max-width: 836px) {
  #background {
    display: none;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  #background {
    top: 445px;
    width: 5em;
  }
}

@media (min-width: 2560px) and (max-width: 3000px) {
  svg,
  i {
    font-size: 3.5em;
  }
}

@media (min-width: 475px) and (max-width: 768px) {

  i {
    font-size: 1.5em;
  }
}
