/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
  // background: linear-gradient(to right, #2e2e29 50%, #e9b827 50%);
  background-color: #2e2e29;
  font-family: roboto-serif;
  letter-spacing: 0.1rem;
  cursor: url(./assets/microphone.ico), context-menu;
}


label,
hr,
h2,
h4 {
  color: white;
}
